body {
	background: #89f5bf;
  	background: linear-gradient(to right bottom, #89f5bf, #000000);
}

h1, span {
	font-family: Source Code Pro;
}

.item {
	max-width: 400px;
	max-height: 400px;
	overflow: wrap;
}

.filename {
	word-break: break-all;
}

ul {
	list-style: none;
	display: inline-flex;
}

a {
	font-family: Source Code Pro;
	padding-right: 3%;
	padding-left: 3%;
}